# Chef Client manages this file.
#
# Import the data region gem and add configuration for data bags.

require 'chef/data_region'

<%= @bags.to_h.to_s %>.each do |bag_name, bag_definition|
  Chef::DataRegion.add(bag_name, bag_definition)
end
